<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
    <title>Цветы</title>
</head>
<body>
<header>
    <img class="header-icon" src="images/icon.png"/>
    <div class="nav-container">
        <a class="nav-item">Главная</a>
        <a class="nav-item">Каталог</a>
        <a class="nav-item">Вход/регистрация</a>
        <a class="nav-item">Корзина</a>
        <a class="nav-item">История</a>
        <a class="nav-item">Профиль</a>
    </div>
</header>
<div class="container">
    @RenderBody()
</div>
</body>
</html>